<%
    const listClass = `open-table-cards`;
    const containerClass = `${listClass}-container`;
%>

<div class="app-column-content <%= containerClass %>">
    <div class="<%= listClass %>"></div>
</div>

