<%
    const listClass = `tables-list`;
    const containerClass = `${listClass}-container`;
%>

<div class="app-column-content <%= containerClass %>">
    <h3>Tables</h3>
    <ul class="list-group list-group-flush <%= listClass %>"></ul>
</div>

