@use "sass:map";
@use "_mixins.scss" as mixins;

$tableFontSize: 70%;

.open-table-cards {
    display: flex;
    padding-right: 5rem;

    &-container {
        overflow-x: auto;
        overflow-y: hidden;
        display: flex;
    }
}

.open-table-card {
    & {
        min-width: 600px;
        margin: .5rem;
        height: fit-content;
        @include mixins.custom-shadow;
    }

    &.dragging {
        filter: opacity(50%);
    }

    .card-header {
        display: flex;
        align-items: center;
    }

    &-table-name {
        margin: 0;
    }

    &-btn-close {
        margin-left: auto;
    }


    &-table {
        font-size: $tableFontSize;

        & td {
            white-space: nowrap;
        }
    }

    &-spinner {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    &-action-button {
        font-size: $tableFontSize;
    }

    &-row {
        .copy-row {
            display: flex;
            justify-content: end;
        }

        &-btn-copy {
            font-size: 90%;
            padding-top: 2px;
            padding-bottom: 2px;
            padding-left: 4px;
            padding-right: 4px;
            visibility: hidden;
        }

        &:hover &-btn-copy {
            visibility: visible;
        }
    }
}


$cellPrefix: open-table-card-row-cell;

$openTableCells: (
    "position": "position",
    "name": "name",
    "columnType": "column-type",
    "isNullable": "is-nullable",
    "defaultValue": "default-value",
    "copyRow": "copy-row",
);


@each $key, $value in $openTableCells {
    .open-table-card.hide-#{$value} {
        .#{$cellPrefix}.#{$value} {
            display: none;
        }
    }
}