@use "sass:map";

$connectionTypeColors: (
    "postgres": #ff00ff,
    "mysql": #3333cc,
    "access": #00cc99,
    "sqlite": #cc3300,
);




$lightGrayLight: hsl(0, 0%, 95%);
$lightGrayDark: hsl(0, 0%, 90%);
